<html lang="en">
<head>
  <style>
    #articles{
      color: var(--color-text);
    }
    #articles > b{
      color: crimson;
      font-size: 1.6em;
      text-shadow: 0 0 1pt black;
    }
    #articles:hover{
      letter-spacing: 1.1px;
    }
  </style>
</head>
<body>
  <a id="articles" style="border-color: crimson; border-width: 2px; border-style: solid; display: block; width: fit-content; height: fit-content; padding: 20px; border-radius: 30px; box-shadow: 0 0 3px black; transition: 0.2s ;" href="articles"><b>Hacking</b> and <b>Cybersecurity</b> Articles</a>
</body>
</html>