<html lang="en">
<head>
  <style>
    #webs{
      color: var(--color-text);
    }
    #webs > b{
      color: dodgerblue;
      font-size: 1.6em;
      text-shadow: 0 0 1pt black;
    }
    #webs:hover{
      letter-spacing: 2px;
    }
  </style>
</head>
<body>
  <a id="webs" style="border-color: dodgerblue; border-width: 2px; border-style: solid; display: block; width: fit-content; height: fit-content; padding: 20px; border-radius: 30px; box-shadow: 0 0 3px black; transition: 0.2s;" href="webs"><b>Full Stack</b> Web Pages</a>
</body>
</html>