<html lang="en">
<head>
  <style>
    #htb{
      color: var(--color-text);
    }
    #htb > b{
      color: greenyellow;
      font-size: 1.6em;
      text-shadow: 0 0 1pt black;
    }
    #htb:hover{
      letter-spacing: 2px;
    }
  </style>
</head>
<body>
  <a id="htb" style="border-color: greenyellow; border-width: 2px; border-style: solid; display: block; width: fit-content; height: fit-content; padding: 20px; border-radius: 30px; box-shadow: 0 0 3px black; transition: 0.2s;" href="htb"><b>HackTheBox</b> Writeups</a>
</body>
</html>